.section {
  user-select: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  overflow: hidden;
  padding: 10rem 1rem 0 1rem;
}

.sectionTitle {
  text-align: center;
  color: black;
  font-weight: 900;
  margin-bottom: 5rem;
  font-size: clamp(2rem, 5vw, 3rem);
}
.content {
  gap: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.text {
  max-width: 25rem;
  text-align: center;
  color: black;
  font-size: clamp(1.5rem, 5vw, 2rem);
}

.image {
  width: clamp(10rem, 50vw, 20rem);
  border-radius: 10px;
}

@media only screen and (min-width: 768px) {
  .content {
    flex-direction: row;
  }

  .text {
    max-width: 25rem;
    text-align: start;
    color: black;
    font-size: clamp(2rem, 5vw, 2rem);
  }
}
