.footer {
  user-select: none;
  font-size: clamp(0.6rem, 3vw, 0.8rem);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: #fff;
  padding: 1rem;
}
